@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #7d5e54;
  line-height: 35px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #7d5e54;
}

.test {
  outline: 1px solid black;
}

.display_n {
  display: none;
}

.orange {
  background: #f56c23;
}

.gray {
  background: #a09e9e;
}

button, input, optgroup, select, textarea {
  line-height: 1;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #efe9e7;
}

.all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.all .container {
  flex: 1;
}

header {
  height: 420px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/header_desktop.png");
  background-color: black;
}

header .top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000bd;
  height: 55px;
}

header .top_menu a {
  padding: 15px 20px;
}

header .top_menu .top_btn_right {
  display: flex;
}

header .top_menu .top_btn_right a {
  font-size: 18px;
  font-weight: bold;
  color: #d3d3d3;
}

header .top_menu .rwd_menu {
  display: none;
  color: white;
}

header .top_slogan {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

header .top_slogan .slogan_text {
  padding: 20px 20px;
  text-align: center;
  letter-spacing: 1px;
  color: white;
  max-width: 500px;
  background-color: #2125296c;
}

header .top_slogan .slogan_text h1 {
  font-weight: bold;
  font-size: 40px;
  padding: 15px;
}

header .top_slogan .slogan_text p {
  font-size: 18px;
  padding: 3px;
}

.container {
  background-color: #efe9e7;
}

.container .layer1 {
  padding-bottom: 50px;
}

.container .layer1 .mid_slogan .line {
  margin: auto auto;
  position: relative;
  bottom: 85px;
  max-width: 600px;
  height: 1px;
  background-color: black;
}

.container .layer1 .mid_slogan h2 {
  padding: 50px 0px;
  line-height: 35px;
  margin: auto auto;
  max-width: 350px;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #efe9e7;
}

.container .layer1 .feature_box {
  display: flex;
  justify-content: center;
}

.container .layer1 .feature_box .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 60px 20px 60px;
}

.container .layer1 .feature_box .feature .feature_1, .container .layer1 .feature_box .feature .feature_2, .container .layer1 .feature_box .feature .feature_1 {
  display: none;
}

.container .layer1 .feature_box .feature h3 {
  margin: 20px 0px 20px 0px;
}

.container .layer1 .feature_box .feature p {
  max-width: 260px;
  font-family: MicrosoftJhengHeiRegular;
  color: #7d5e54;
}

.container .layer1 .feature_box .feature img {
  border-radius: 210px 210px;
}

.container .layer2 {
  background-color: #3d1101;
  display: flex;
  justify-content: center;
}

.container .layer2 img {
  max-width: 460px;
}

.container .layer2 .rwd_chief {
  display: none;
}

.container .layer2 .layer2_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 40px 0px 40px;
  max-width: 410px;
}

.container .layer2 .layer2_right h3 {
  font-family: MicrosoftJhengHeiRegular;
  line-height: 25px;
  padding: 0px 0px 40px 0px;
  color: #f8ebdb;
}

.container .layer2 .layer2_right p {
  color: #f8ebdb;
  font-size: 18px;
  font-family: MicrosoftJhengHeiRegular;
}

.container .layer3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.container .layer3 .mid_slogan {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container .layer3 .review_box {
  display: flex;
  margin: 0px 25px;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  color: #7d5e54;
}

.container .layer3 .review_box h2 {
  padding: 40px 0px;
}

.container .layer3 .review_box .review {
  display: flex;
  margin: 0px 10px 0px 10px;
}

.container .layer3 .review_box .review .review_left img {
  border-radius: 100px;
}

.container .layer3 .review_box .review .review_right {
  max-width: 220px;
  padding: 0px 20px;
}

.container .layer3 .review_box .review .review_right h3 {
  font-size: 20px;
  padding: 20px 0px;
}

.container .layer3 .review_box .review .text_to_right {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0px;
  color: #8f693d;
  font-weight: normal;
}

.container .layer4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f4f3;
  width: 100%;
}

.container .layer4 .mid_slogan {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container .layer4 .map_info {
  display: flex;
  padding-bottom: 40px;
}

.container .layer4 .map_info .map_info_box {
  margin: 0px 20px 0px 20px;
}

.container .layer4 .map_info fieldset {
  display: flex;
  flex-direction: column;
}

.container .layer4 label {
  font-size: 17px;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  color: #7d5e54;
}

.container .layer4 .vegetarian_radio {
  font-size: 17px;
  font-weight: bold;
  color: #7d5e54;
}

.container .layer4 .push_left {
  margin: 0px 30px 0px 5px;
}

.container .layer4 .submit_btn_box {
  display: flex;
  justify-content: flex-end;
}

.container .layer4 .submit_btn_box button {
  font-size: 14px;
  font-family: PingFangTC-Regular;
  color: #FFFFFF;
  padding: 12px 20px;
  margin: 0px 10px;
}

.container .login {
  max-width: 350px;
  margin: auto auto;
}

.container .login_box {
  margin: 20px;
  font-family: NotoSansCJKtc-Black;
  color: #3D1101;
}

.container .login_box .mid_slogan_box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container .login_box h2 {
  color: #3d1101;
  font-weight: bold;
}

.container .login_box form {
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.16);
  border-top: 3px solid orange;
}

.container .login_box form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .login_box form .register_info_box {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.container .login_box form .register_info_box label {
  padding: 0px 0px;
}

.container .login_box form .register_info_box input {
  background: url("../assets/email.png") no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: white;
  line-height: 0.5;
}

.container .login_box form .register_info_box .lock_icon {
  background: url("../assets/padlock2.png") no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: white;
  line-height: 0.5;
}

.container .login_box form .register_info_box input:not([value=""]):not(:focus):invalid {
  background: url("");
  background-color: white;
}

.container .login_box form .register_info_box input:focus {
  background: url("");
  background-color: white;
}

.container .login_box form .register_info_box a {
  font-size: 15px;
  position: relative;
  bottom: 8px;
  color: #f56c23;
}

.container .login_box form .register_info_box a:hover {
  color: #852300;
}

.container .login_box form .register_info_box a:active {
  color: gray;
}

.container .login_box form .submit_btn_box button {
  font-size: 14px;
  font-family: PingFangTC-Regular;
  color: #FFFFFF;
  padding: 10px 48px;
  margin: 15px 5px;
}

.container .register {
  max-width: 650px;
  margin: auto auto;
  margin-bottom: 20px;
}

.container .register_box {
  font-family: NotoSansCJKtc-Black;
  color: #3D1101;
}

.container .register_box .mid_slogan_box {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container .register_box h2 {
  color: #3d1101;
  font-weight: bold;
}

.container .register_box form {
  box-shadow: 3px 3px 4px 3px rgba(0, 0, 0, 0.16);
  border-top: 3px solid #ff5e45;
}

.container .register_box form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .register_box form fieldset .form_box {
  display: flex;
  max-width: 620px;
}

.container .register_box form fieldset .form_box .register_about {
  margin-left: 15px;
  font-family: MicrosoftJhengHeiRegular;
  font-size: 17px;
  color: #3D1101;
  line-height: 20px;
}

.container .register_box form fieldset .form_box .register_info_box {
  display: flex;
  flex-direction: column;
  padding: 0px 13px 0px 15px;
}

.container .register_box form fieldset .form_box .register_info_box input {
  background: url("../assets/email.png") no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: white;
  line-height: 0.5;
  padding: 7px 0px;
}

.container .register_box form fieldset .form_box .register_info_box input:not([value=""]):not(:focus):invalid {
  background: url("");
  background-color: white;
}

.container .register_box form fieldset .form_box .register_info_box input:focus {
  background: url("");
  background-color: white;
}

.container .register_box form fieldset .form_box .register_info_box a {
  font-size: 14px;
  color: #f56c23;
}

.container .register_box form fieldset .form_box .register_info_box a:hover {
  color: #852300;
}

.container .register_box form fieldset .form_box .register_info_box a:active {
  color: gray;
}

.container .register_box form fieldset .form_box .register_info_box .lock_icon {
  background: url("../assets/padlock2.png") no-repeat scroll 7px 7px;
  background-size: 20px 20px;
  background-color: white;
  line-height: 0.5;
}

.container .register_box form fieldset .form_box .submit_btn_box {
  display: flex;
  justify-content: flex-end;
}

.container .register_box form fieldset .form_box .submit_btn_box button {
  font-size: 14px;
  font-family: PingFangTC-Regular;
  color: #FFFFFF;
  padding: 7px 50px;
  margin: 0px 15px 5px 0px;
}

.container .product_line {
  height: 1px;
  background-color: black;
}

.container .product_box_all {
  display: flex;
}

.container .product_box_all .layer_left {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 10px 40px;
}

.container .product_box_all .left_top_menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px 60px 10px 40px;
}

.container .product_box_all .left_top_menu h2 {
  font-size: 18px;
  white-space: nowrap;
  margin-left: 10px;
}

.container .product_box_all ul a {
  color: #3D1101;
  line-height: 32px;
  font-family: MicrosoftJhengHeiRegular;
}

.container .product_box_all ul a :hover {
  color: white;
  background-color: #3d1101;
}

.container .product_box_all ul p {
  padding: 3px 10px;
}

.container .product_box_all .layer_right {
  margin: 35px 0px 20px 5px;
  width: 100%;
  max-width: 1300px;
}

.container .product_box_all .layer_right .top_menu {
  display: flex;
  justify-content: space-between;
}

.container .product_box_all .layer_right .top_menu input {
  margin-left: 20px;
  border: 2px solid #3d1101;
  background-color: #efe9e7;
}

.container .product_box_all .layer_right .top_menu .search_box a {
  position: relative;
  right: 5px;
  top: 7px;
}

.container .product_box_all .layer_right .top_menu .search_box a img {
  width: 24px;
}

.container .product_box_all .layer_right .top_menu .shop_car_box {
  display: flex;
  margin: 5px 20px;
}

.container .product_box_all .layer_right .top_menu .shop_car_box .line {
  width: 2px;
  height: 25px;
  margin: 2px 20px 0px 20px;
  background-color: #3d1101;
}

.container .product_box_all .layer_right .top_menu .shop_car_box a {
  display: flex;
  align-items: center;
  color: #3D1101;
}

.container .product_box_all .layer_right .top_menu .shop_car_box a img {
  margin: 2px 0px;
  max-width: 25px;
}

.container .product_box_all .layer_right .bot_product_list {
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container .product_box_all .layer_right .bot_product_list .favor input {
  z-index: 5;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 10px;
  left: 0px;
}

.container .product_box_all .layer_right .bot_product_list .hot_sale .hot_sale_icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 15px;
  color: white;
  background-color: red;
}

.container .product_box_all .layer_right .bot_product_list .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 280px;
  max-width: 220px;
  margin-right: 15px;
  margin-bottom: 30px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 1;
}

.container .product_box_all .layer_right .bot_product_list .product a {
  padding: 0px;
  margin: 0px;
}

.container .product_box_all .layer_right .bot_product_list .product h3 {
  font-size: 22px;
  margin: 20px 0px 0px 0px;
}

.container .product_box_all .layer_right .bot_product_list .product p {
  color: #876f66;
}

.container .product_box_all .layer_right .bot_product_list .product img {
  max-width: 220px;
}

.container .product_box_all .layer_right .bot_product_list .product .line {
  width: 100px;
  margin: 15px 0px;
  height: 1px;
}

.container .product_box_all .layer_right .bot_product_list .product .price {
  position: relative;
  top: 15px;
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
  color: #3d1101;
}

.container .product_box_all .layer_right .bot_product_list .product .add_to_car_box {
  position: relative;
  top: 35px;
}

.container .product_box_all .layer_right .bot_product_list .product .add_to_car_box a {
  font-size: 16px;
  color: #fe6249;
  padding: 3px 50px;
  border-radius: 4px 4px;
  border: 2.5px solid #fe6249;
}

.container .product_box_all .layer_right .bot_product_list .product .add_to_car_box img {
  width: 20px;
  position: absolute;
  top: -2px;
  left: 25px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efe9e7;
  padding: 50px 50px 50px 50px;
}

footer h2 {
  padding-bottom: 20px;
}

footer p {
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #7d5e54;
  font-weight: bold;
  font-family: MicrosoftJhengHeiRegular;
}

footer .bot_info_left {
  display: flex;
}

footer .bot_info_left .about_me {
  max-width: 500px;
}

footer .bot_info_left .about_connection p {
  white-space: nowrap;
}

footer .bot_info_right {
  display: flex;
  flex-direction: column;
}

footer .bot_link_group_right {
  display: flex;
  justify-content: flex-end;
}

footer .bot_link_group_right .icon {
  margin: 20px 5px 0px;
}

@media (max-width: 736px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: centera;
    align-items: center;
    padding-top: 55px;
    background-color: black;
  }
  header .top_menu img {
    max-height: none;
    max-width: none;
  }
  header .top_menu {
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0px;
  }
  header .top_menu .rwd_menu {
    padding-right: 30px;
    display: block;
  }
  header .top_menu .rwd_menu:hover {
    background-color: gray;
  }
  header .top_menu .rwd_menu:active {
    background-color: gray;
  }
  header .top_slogan {
    margin: auto auto;
  }
  footer {
    flex-direction: column;
  }
  footer h2 {
    padding-bottom: 0px;
  }
  footer .bot_info_left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .bot_info_left .about_me {
    margin-bottom: 25px;
  }
  footer .bot_info_left .about_connection {
    margin-bottom: 25px;
  }
  footer .bot_info_right .bot_link_group_right {
    justify-content: center;
  }
  footer .bot_info_right .bot_info_name h1 {
    display: none;
  }
  .top_btn_right {
    /*隱藏選單開始*/
    max-height: 0px;
    overflow: hidden;
    /*隱藏選單結束*/
  }
  .menu-show .top_btn_right {
    max-height: none;
    width: 100%;
    overflow: visible;
    position: absolute;
    z-index: 100;
    top: 54px;
  }
  .menu-show .top_menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    text-align: center;
  }
  .menu-show .top_menu li a {
    width: 100%;
    background-color: #1c1c1c;
  }
  .menu-show .top_menu li a:hover {
    background-color: gray;
  }
  .menu-show .top_menu li a:active {
    background-color: gray;
  }
  .container .layer1 .mid_slogan {
    position: static;
  }
  .container .layer1 .mid_slogan .line {
    height: 0px;
  }
  .container .layer1 .mid_slogan h2 {
    position: static;
  }
  .container .layer1 .feature_box {
    flex-direction: column;
  }
  .container .layer1 .feature_box .feature img {
    display: none;
  }
  .container .layer1 .feature_box .feature .feature_1, .container .layer1 .feature_box .feature .feature_2, .container .layer1 .feature_box .feature .feature_3 {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 200px;
  }
  .container .layer1 .feature_box .feature .feature_1 {
    background: url("../assets/feature_1.png") no-repeat center center;
  }
  .container .layer1 .feature_box .feature .feature_2 {
    background: url("../assets/feature_2.png") no-repeat center center;
  }
  .container .layer1 .feature_box .feature .feature_3 {
    background: url("../assets/feature_3.png") no-repeat center center;
  }
  .container .layer2 {
    flex-direction: column;
  }
  .container .layer2 .layer2_right {
    margin: 0px;
    max-width: 0px;
  }
  .container .layer2 img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */